{{!-- Rooms Dashboard Heading --}}
<h1 id="title-heading">
    The Reserve: Rooms Dashboard
</h1>
{{!-- Instructions and Check-In Button --}}
<div id="instructions">
    <p>To keep adding new rooms to the list, click the Create a Room button.</p>
    <a href="/new" class="button round">Create a Room</a>
    <p>Otherwise, click the Check-In button next to the desired room to get started on studying.</p>
    <p>If the desired room's status is not available, you'll have to wait until the room is sanitized and ready for use.
    </p>
</div>
{{!-- Table Code For the Rooms and Buttons --}}
<table class="dashboard-table">
    <colgroup>
        <col width="150" />
        <col width="80" />
        <col width="200" />
        <col width="60" />
        <col width="220" />
        <col width="170" />
    </colgroup>
    <thead>
        <tr>
            <th>
                <a href="#">Rooms<i class="fa fa-caret-down"></i></a>
            </th>
            <th>
                <a href="#" id="room-status">Room Status<i class="fa fa-caret-down"></i></a>
            </th>
            <th>
                <a href="#">Options<i class="fa fa-caret-down"></i></a>
            </th>
        </tr>
    </thead>
    <tbody>
        {{#each rooms}}
        <tr>
            <td>
                <div class="flex-container align-justify align-top">
                    {{!-- <div class="flex-child-shrink">
                    </div> --}}
                    <div class="flex-child-grow">
                        <h6 class="dashboard-table-text">{{name}}</h6>
                        <!-- <span class="dashboard-table-timestamp">03/04/2017</span> -->
                    </div>
                </div>
            </td>
            <td>{{status}}</td>
            <td class="bold">
                <a href="#" class="button round" id="check-in{{id}}">Check-In</a>
                <a href="/room/{{id}}" class="button round">Edit Room</a>
                <button class="button round delete-room" data-id="{{id}}">Delete Room</button>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>
</div>
</div>
{{!-- Link to the Javascript that does the check-in-to-check-out-to-sanitize features --}}
<script type="text/javascript" src="/assets/js/sanitize.js"></script>

<script src="assets/js/deleteRoom.js"></script>
