

{{!-- Instructions and Check-In Button --}}
    <div  id="instructions">
    {{!-- Rooms Dashboard Heading --}}
    <h1 id="title-heading">
        Rooms Dashboard
    </h1>
    <UL>
        <li style="list-style-type: none;"> To get started, click the "Create a Room" button to customize your study room before the reservation. Or click "Check-In" to reserve a room below if your desired study room is available.</li>
        <li style="list-style-type: none;"> ** After you leave a study room, be sure to click the "Check-Out" and "Sanitize" button, so the room will cleaned and ready for the next guest(s).**</li>
    </UL>
         <a href="/new" class="button round create-room">Create a Room</a>
    </div>
{{!-- Table Code For the Rooms and Buttons --}}
    <table class="dashboard-table">
    <colgroup>
        <col width="150" />
        <col width="80" />
        <col width="200" />
        <col width="60" />
        <col width="220" />
        <col width="170" />
    </colgroup>
    <thead>
        <tr>
            <th>
                <a href="#">Rooms<i class="fa fa-caret-down"></i></a>
            </th>
            <th>
                <a href="#">Room Status<i class="fa fa-caret-down"></i></a>
            </th>
            <th>
                <a href="#">Options<i class="fa fa-caret-down"></i></a>
            </th>
        </tr>
    </thead>
    <tbody>
        {{#each rooms}}
        <tr>
            <td>
                <div class="flex-container align-justify align-top">
                    <div class="flex-child-shrink">
                    </div>
                    <div class="flex-child-grow">
                        <h6 class="dashboard-table-text">{{name}}</h6>
                        <!-- <span class="dashboard-table-timestamp">03/04/2017</span> -->
                    </div>
                </div>
            </td>
            {{#if status}}
                <td>available</td>
            {{else}}
                <td>not available</td>
            {{/if}}
            {{!-- <td>{{status}}</td> --}}
            <td class="bold">
                <a href="#" class="button round">Check-In</a>
                <a href="/room/{{id}}" class="button round">Edit Room</a>
                <button class="button round delete-room" data-id="{{id}}">Delete Room</button>
            </td>
        </tr>
        {{/each}}
     </tbody>
     </table>
    </div>
</div>